/*

Styles of MARKERBOX extension for Adobe Premiere

© 2021 by Tyron Montgomery
Last modified on April 04, 2021


*/

:root
	{
  	--markerbox-gray1:	rgb(51,51,51);
  	--markerbox-gray2:	rgb(77,77,77);
  	--markerbox-gray3:	rgb(102,102,102);
  	--markerbox-gray4:	rgb(153,153,153);
  	--markerbox-gray5:	rgb(204,204,204);
  	--markerbox-blue:	rgb(102,153,255);
  	--markerbox-green:	rgb(153,204,51);
  	--markerbox-orange:	rgb(255,102,0);
	}

body,html,div,p,button,input
	{
	font-family: adobe-clean,"Source Sans Pro",-apple-system,BlinkMacSystemFont,
	"Segoe UI",Roboto,Calibri,LucidaGrande,Arial,Helvetica,sans-serif !important;
	font-size: 12px !important;
	font-weight: lighter !important;
	letter-spacing: 0.7px;
	color: rgb(153,153,153) !important;
	}
							  
html,body
	{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	}

.alpha0
	{
	opacity: 0.0;
	filter: alpha(opacity=000);
	filter: grayscale(100%);
	transition: opacity 500ms ease, filter 200ms ease;
	}

.alpha100
	{
	opacity: 1.0;
	filter: alpha(opacity=100);
	transition: opacity 2000ms ease, filter 2000ms ease;
	}

a,button
	{
	cursor: pointer;
	}

#header
	{
	width: auto;
	height: 30px;
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

#logo
	{
	width: 200px;
	height: auto;
	margin: 0 !important;
	padding: 0 !important;
	float: left;
	}

button
	{
	width: auto;
	border: 0;
	border-radius: 3px;
	padding: 6px 15px 7px 15px !important;
	color: white !important; 
	text-shadow: 0 0 5px black;
	background-color: var(--markerbox-gray2);
	transition: background-color .6s ease-in-out .1s;
	margin: 0 0 0 10px !important;
	}
button:hover	{ transition: background-color .2s ease-in-out; }
button.blue:hover,button.blue:active		{ background-color: var(--markerbox-blue) !important; }
button.green:hover,button.green:active		{ background-color: var(--markerbox-green) !important; }
button.orange:hover,button.orange:active	{ background-color: var(--markerbox-orange) !important; }



#editorWrapper	{ width: calc( 100% - 40px ); height: calc( 100% - 70px ); padding: 20px; }
#editor
	{
	width: calc( 100% - 20px );
	height: calc( 100% - 20px );
	background-color: var(--markerbox-gray5);
	padding: 10px; resize: none;
	}



